name: TsPatternsWorkflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    defaults:
      run:
        working-directory: "ts-patterns"

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.10.0
      uses: actions/setup-node@v3
      with:
        node-version: 18.10.0
    - run: npm ci
    - run: npm test
